<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cargar CSV</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h2>Cargar archivo CSV</h2>
        {% if success_message %}
        <div class="alert alert-success mt-3" role="alert">
            {{ success_message }}
        </div>
        {% endif %}

        {% if error_message %}
        <div class="alert alert-danger mt-3" role="alert">
            {{ error_message }}
        </div>
        {% endif %}

        <form method="post" enctype="multipart/form-data" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                <label for="csv_file">Seleccionar archivo CSV:</label>
                <input type="file" name="csv_file" id="csv_file" accept=".csv" class="form-control-file">
            </div>
            <button type="submit" class="btn btn-primary">Cargar</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
