<!-- load_cities.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Cargar Ciudades y Países</title>
</head>
<body>
    <h1>Cargar Ciudades y Países desde CSV</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="csv_file" accept=".csv">
        <button type="submit">Cargar archivo CSV</button>
    </form>

    <!-- Mostrar mensaje de éxito si existe -->
    {% if success_message %}
        <p style="color: green;">{{ success_message }}</p>
    {% endif %}

    <!-- Mostrar mensaje de error si existe -->
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
</body>
</html>
